.login {
  position: flex;
  display: flex;
  justify-content: center;
}

.form-login{
  position: content;
  margin: 200px 500px ;
  background-color: rgb(226, 226, 226);
  border-radius: 40px;
  padding: 30px;
}

.form-login2{
  position: content;
  padding-left: 25rem;
}

.btn-login{
  margin-left: 5.5rem;
}

.up-txt{
  text-align: middle;
  margin-left: 0.5rem;
}

/* .txt1{
  text-align: center;
  margin-left: 10rem;
} */

.form-login h1{
  margin: 0 0 50px 145px;
}

