.login {
  position: flex;
  display: flex;
  justify-content: center;
}

.form-login{
  justify-content: center;
  /* width: 1000px; */
  margin: 200px 500px ;
  background-color: rgb(226, 226, 226);
  border-radius: 40px;
  padding: 30px;
}

.txt1{
  /* vertical-align: middle; */
  margin-right: 2rem;
}

.form-login h1{
  margin: 0 0 50px 250px;
  /* align-items: center; */
}

