.main-body{
  background: #c9d2e0;
  min-height: 100vh;
  position: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.head-table{
  position: flex;
  display:flex;
  /* justify-content: space-between;
  float: left; */
  /* flex-shrink: 1; */
}

.txt1{
  position: flex;
  display: flex;
  margin-left: 35px;
  margin-right: -30px;
}

.txt2{
  position: flex;
  display: flex;
  margin-left: 40px;
}

.search-bar{
  margin-left: 590px;
  float: right;
}

.body-table{
  position: flex;
  text-align: center;
  width: 96%;
  margin-left: 35px;
  text-align: center;
  height: 100%;
}

.footer-table{
  position: flex;
  justify-content: space-between;
}

.pagination{
  float: right;
  margin-right: 35px;
}

.txt-footer-table{
  margin-left: 35px;
  float: left;
}

.select-menu-show{
  /* display: flex; */
  /* position: flex; */
  /* height: fit-content; */
  margin: 0px 0px 10px 35px;
  float: left;
}

.wrap-content{
  position: relative;
  width: 98%;
  height: auto;
  margin: 100px 0px 0 0px;
  display: solid;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  background: rgb(241, 253, 255);
}

.wrap-content div button{
  background-color: rgb(79, 198, 219);
  border-radius: 5px;
  height: 40px;
  width: 200px;
  margin-top: 10px;
  color: black;
  border-color: rgb(79, 198, 219);
}

.card-head-body{
  background-color: rgb(79, 198, 219);
  width: 98%;
  height: 90px;
  border-radius: 5px;
  /* text-align: center; */
  margin: 60px 20px ;
}

.card-head-body p{
  margin: 15px 0px 0px 20px;
}

.text-atas{
  padding-top: 10px;
  font-weight: bold;
  font-size: large;
}

.section-a{
  position: flex;
  display: flex;
  justify-content: space-between;
  margin: 30px 300px 0 300px;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

  
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  
  
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 