.main-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background: rgb(79, 198, 219);
}
  
.float-bar-title{
    position: absolute;
    width: 98.5%;
    height: 5rem;
    margin-left: 1rem;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding-left: 44%;
    background: rgb(241, 253, 255);
}

.float-bar-title h1{
    text-align: center;
}

.text-admin {
    margin: -4rem 1rem 0 0;
    float: right;
    color: black;
}

.text-admin h2 {
    font-size: 30px;
}

img {
    width: 40px;
    height: 40px;
    margin: -20px 0px 0px 60px;
}

@media only screen and (min-width: 601px) {
    
} 